/* ==========================================================================
 Base
========================================================================== */

* {
    box-sizing: border-box;
    font-size: 10px;
}
body
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 10px;
    -webkit-text-size-adjust: 100%;
    line-height: 1.75
    letter-spacing: 0.03em
    color: $color-base
    width 100vw
    user-select: none;
    
    &.is-fixed
        position: fixed
a {
    cursor: pointer;
    text-decoration none
}
table {
    border-collapse: collapse;
}
dl {
    display: flex;
    flex-wrap: wrap;
}
ul {
    list-style: none;
}
select,
textarea, 
button,
input[type=date] {
    appearance: none;
    // background-color: $white;
    border none
}

select::-ms-expand {
    display: none;
}
button {
    background: none;
    font-family: 'Noto Sans JP', sans-serif;
}
img {
    width 100%
    height: auto;
}


body.dark-mode
    background: #2C2B2E

    .mainContent:not(.newTrade), .sidebar, .header
        background: #2C2B2E
        color #ffffff
        a
            color #ffffff

    .newTrade
        background: #2C2B2E
        color #2C2B2E!important
        
    .navigation__item.active .navigation__link
        background: rgba(255, 255, 255, 0.10);

    .tradeTable__head
        background rgba(135, 102, 224, 0.37)

    .tradeTable__row
        background transparent
        border-color rgba(241, 241, 241, 0.2)

    .tradeTable
        outline 1px solid rgba(241, 241, 241, 0.2)

    .chartCard, .filterCards__item, .filterBtn, .filter, .form-select__control, .filter .react-datepicker-wrapper input, .filteredItems__item,
    .ruleFilter__item, .rules__item
        border 1px solid rgba(241, 241, 241, 0.2)!important
        background: rgba(255, 255, 255, 0.10)

    .sidebar, .filter__left, .noteContent, .header
        border-color rgba(255, 255, 255, 0.15)

    .newTrade
        .tag
            color #2C2B2E

    .tradeInfo__right:hover:not(.tradeInfo__right.tag), .tradeTable__row:hover
        background: rgba(255, 255, 255, 0.10)
    
    .tradeInfo__input, .react-datepicker__input-container input, .quill, .sidebar__back, .mainContent p
        color #ffffff

    .darkModeBtn:hover
        background #fff
        color #2C2B2E
    .hideContents
        background-color: rgba(46, 46, 46, 68%);
    .userModal
        background-color: #292929a3;
    .account-img .initial
        background: #ffffff69;
