/* ==========================================================================
 Base
========================================================================== */

* {
    box-sizing: border-box;
    font-size: 10px;
}
body
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 10px;
    -webkit-text-size-adjust: 100%;
    line-height: 1.75
    letter-spacing: 0.03em
    color: $color-base
    width 100vw
    user-select: none;
    
    &.is-fixed
        position: fixed
a {
    cursor: pointer;
    text-decoration none
}
table {
    border-collapse: collapse;
}
dl {
    display: flex;
    flex-wrap: wrap;
}
ul {
    list-style: none;
}
select,
textarea, 
button,
input[type=date] {
    appearance: none;
    background-color: $white;
    border none
}

select::-ms-expand {
    display: none;
}
button {
    background: none;
    font-family: 'Noto Sans JP', sans-serif;
}
img {
    width 100%
    height: auto;
}
