// ====================================
// 共通で使う変数を設定
// ====================================

$brand-800 = #8766E0
$brand-400 = #D3C6F4
$brand-300 = #F7F4FD
$brand-100 = #FAF8FD
$color-base = #202020
$color-thin-yellow = #FFF5D6
$gray-800 = #343434
$gray-600 = #7C7C7C
$gray-400 = #AFAFAF
$gray-300 = #E9EBF1
$gray-200 = #D3D3D3
$gray-50 = #F1F1F1
$white = #ffffff

$color-default = #343330
$color-gray = #7C7C7C
$color-orange = #E0A166
$color-yellow = #E0D466
$color-green = #66E081
$color-blue = #6681E0
$color-purple = #8D66E0
$color-pink = #CF66E0
$color-red = #E06666

$background-gray = #EFEFEF
$background-orange = #FBF4ED
$background-yellow = #FBFAED
$background-green = #EDFBF0
$background-blue = #EDF0FB
$background-purple = #F1EDFB
$background-pink = #F9EDFB
$background-red = #FBEDED

