@import "../../stylus/foundation/_mixin.styl"
@import "../../stylus/foundation/_variable.styl"

.hideContents
    width 100%
    height calc(100% - 80px)
    display flex
    flex-direction column
    align-items center
    justify-content center
    position fixed
    top 80px
    left 0
    background-color #ffffffad

    .btn
        margin-top 16px

.hideContents__desc
    font-size 1.4rem
