@import "../../../stylus/foundation/_mixin.styl"
@import "../../../stylus/foundation/_variable.styl"

.modal_wrapper
    position fixed
    left 0
    top 0
    width 100%
    height 100vh
    background rgba(0, 0, 0, .3)
    z-index 1

.modal
    width 600px
    min-height 300px
    display flex
    flex-direction: column
    padding 24px
    background: #ffffff
    border-radius 24px
    position: fixed
    top 50%
    left 50%
    transform: translate(-50%, -50%)
    z-index 10

.modal__title
    font-size 2rem
    border-bottom: 1px solid $gray-200
    padding 0 0 8px
    font-weight 700

.modal__block
    display flex
    justify-content: space-between
    align-items center
    margin-top 16px

    input, select, label
        width 100%
        padding 16px
        border-radius: 8px
        font-size 1.6rem
        border 1px solid $gray-200!important
        word-break: keep-all
        white-space: nowrap
        overflow-x:scroll 
        font-weight: 400

    label
        font-size 1.4rem

.modal__sub
    display flex
    align-items center
    margin-right 16px
    flex-shrink 0
    min-width: 132px

.modal__sub, .modal__desc
    font-size 1.6rem

.modal .btn
    margin-left auto
    margin-top 16px

.modal__update
    color $color-green
    font-size 1.4rem
    font-weight: 600

.modal__side
    display flex
    align-items flex-end

.modal__close
    width 24px
    height 24px
    position absolute
    right 16px
    top 16px
    display flex
    align-items center
    justify-content center
    cursor pointer

    &:after, &:before 
        content ''
        width 1px
        height 100%
        background $gray-400
        position relative

    &:after 
        transform: rotate(-45deg)

    &:before 
        transform: rotate(45deg)

.modal__content
    display flex
    flex 1

.modal__sidebar
    padding 16px 16px 16px 0
    border-right: 1px solid $gray-50
    flex-shrink: 0

.modal__sidebar__list
    font-size 1.4rem
    padding 14px
    cursor pointer

.modal__main
    padding 16px 24px 0 24px
    width 100%

.modal__block .modal__label__onedit
    width: auto;
    padding: 12px;
    line-height: 1;
    font-size: 1.2rem;
    border: none;
    margin-top: 8px;
    justify-content: center;
    display: flex;
    background: #eee;

.profImg
    width: 100%;
    height: auto;
    flex-shrink: 0;
    padding: 8px;
    border: 1px solid $gray-200
    border-radius: 8px;
    img
        width 100%
        height 100%
        object-fit: cover

.profBlock
    display flex
    flex-direction: column
    width 100%
