
.mainContent
    flex 1
    overflow-x: hidden
    overflow-y: scroll
    background-color $brand-100
    position relative
    height 100vh
    p
        font-size 1.4rem

    .inner
        padding 32px

.app-container
    height 100vh
    margin-left 300px
    transition: .3s ease
    &.sidebar-close
        margin-left 88px

.sumBlock
    display flex
    margin-bottom 32px

.sumBlock__left
    display flex
    flex-direction: column
    width 56%

    > div:first-child
        display flex
        .chartCard
            flex 1

.sumBlock__left__bottom
    display flex
    margin-top 32px
    .chartCard
        margin-top 0

.sumBlock__right
    flex 1
    margin-left 32px
    .chartCard
        width 100%
        max-height: 892px
