
.mainContent
    flex 1
    overflow-x: hidden
    overflow-y: scroll
    background-color $brand-100
    position relative
    height 100vh

    .inner
        padding 32px

.app-container
    height 100vh
    margin-left 300px
    transition: .3s ease
    &.sidebar-close
        margin-left 88px
