@import "../../stylus/foundation/_mixin.styl"
@import "../../stylus/foundation/_variable.styl"

.charts
    display flex

.chartCard
    background: #ffffff
    border-radius: 8px
    padding 24px 24px 8px 24px
    display inline-flex
    flex-direction: column
    margin-top 16px
    position relative
    max-height 430px
    overflow-y scroll

    &:nth-child(n + 2) 
        margin-left 32px
        
    
.chartCard--sm
    width 28.6%

.chartCard--flex
    flex 1

.chartCard__head
    font-size 1.4rem
    font-en()
    font-weight: 600

.chartCard__desc
    display flex
    align-items center
    margin-top 8px

.chartCard__total
    font-size 2.4rem
    font-weight: 500

.chartCard__sub
    font-size 1.6rem
    font-weight 500
    color $color-green
    padding-left 8px

.chart 
    margin-top 8px

.chartCard__select
    position absolute
    right 24px
    top 24px
    display flex
    align-items center
    border 1px solid $gray-200
    padding 8px 14px
    border-radius 30px
    min-width 112px
    justify-content: space-between
    
    &:focus
        outline 1px solid
    select
        font-size 1.4rem
        font-weight 400
        background transparent
        font-en()
        color $gray-400
        &:focus
            outline none
    &__arrow
        color $gray-600

.recharts-wrapper
    left -34px

.performance__item
    .recharts-wrapper
        left 0

.performance__desc
    display flex
    align-items center
    justify-content space-between

.performance__item
    &:nth-child(n + 2) 
        margin-top 16px

.performance__name, .performance__value
    font-size 1.4rem
    font-en()
    font-weight 550

.chartCard--performance
    padding 24px

.chartCard__seeReport
    margin-left auto
    font-size 1.4rem
    font-en()
    font-weight: 200
    color $gray-600
    margin-top 16px
    cursor pointer
