@charset "utf-8";
/* ==========================================================================
 Foundation
========================================================================== */
@import "./foundation/_variable";
@import "./foundation/_mixin";
@import "./foundation/_base";
@import "./foundation/_icon";

/* ==========================================================================
 Layout
========================================================================== */
// @import "./_layout/_wrapper";
// @import "./_layout/_header";
// @import "./_layout/_page";
// @import "./_layout/_section";
// @import "./_layout/_footer";
/* ==========================================================================
 Object
========================================================================== */

/* -----------------------------------------------------------------
 Component
----------------------------------------------------------------- */
//全プロジェクトで共通で使えるスタイル
@import "./components/*";
@import "./layout/*";


