@import "../../../stylus/foundation/*"

.userModal
    width 300px
    padding 40px
    background-color: #ffffff
    text-align center
    border-radius 24px
    shadow-200()

    input 
        width 100%
    .btn
        width 100%


.userModal__desc
    font-size 1.4rem
    font-weight 700

.userModal__label
    font-size 1.4rem
    text-align left

.userModal__input
    margin-top 8px

.userModal__others
    margin-top 24px
    p
        text-align left
        font-weight 700
        color $gray-600

.googleBtn
    cursor pointer

.userModal__newaccount
    margin-top 8px
    font-size 1.2rem
    cursor pointer
